.s_main{
	padding: 0px;
}

.s_content h1{
	color: black ;
}
.s_content h3{
	color: #096487 ;
}

.nav_bar li {
    display: inline-block;
    padding: 10px 15px;
    text-transform: capitalize;
}

.nav_bar{
	background-color: #0a1d53;
}

.s_logo{
	margin-top: 20px;
}

.list-group-item{
    border:0 !important;
    border-bottom:1px solid #ddd !important;
}

.nav_bar ul{
		    padding: 0;
		    margin: 0;
		    list-style-type: none;
		}

.nav_bar a{
	 text-decoration: none;
	 color:white;
	 text-transform: capitalize;
	 font-size: 2vh;
}

table#top3 {
    margin-bottom: -3px;
}

.panel-default>.panel-heading {
    background-color: #0a1d53 !important;
    color: #fff;
}

.panel-title>.loginlink {
    color:#fff !important;
}

.s_left{
	display: block;
	padding:0px;
	height: 100%;
}

.s_left ul{
	list-style-type: none;
}

.s_left a{
	text-decoration: none;
	font-size: 14px;
}

.s_header{
		width:100%;
		height: 150px;
		background:  white;
		color:white;
		border-bottom: 2px solid ;
}

.s_left a{
	color: black;

}

 ul li{
	margin-left: 0px;
	padding: 20px;
}

.nav_bar ul li:hover{
	background-color:#096487;
}

.vl {
    border-left: 6px solid #0a1d53;
    height: 1000px;
    position: absolute;
    left: 100%;
    margin-left: -6px;
    top: 0;
}

.vl1 {
    border-right: 6px solid #0a1d53;
    height: 1000px;
    position: absolute;
    right: 100%;
    margin-left: 200px;
    top: 0;
}

.s_left{
	text-transform: capitalize;
}

.s_left{
	/*margin-top: 10px;*/

}

.white{
    color:black !important;
    
}

.s_left ul li:hover{
	background-color: #096487;
    border: 1px solid black;

}
.s_left a{
	color: black;

    padding:1px;		
}

.s_left li{
    padding: 0;

}
.registration{
	    position: fixed;
    right: -100%;
    background: white;
    z-index: 9;
    top: 23%;
    padding: 15px;
        margin-top: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.showForm{
	right: 0px;
    transition: all 1s easen;

}
.sticky{
	position: fixed;
    z-index: 9;
    background: white;
    border-bottom: 1px solid;
    width: 100%;

}

body{
   
    /*padding:50px;*/

    color:#0a1d53;
}

.form-signin{
	text-align: left;
}
input[type=text], input[type=date], input[type=email], input[type=number], select {
width: 300px;
height: 30px;
}

input[type=password]{
	
    width: 200px;
    height: 44px; 
}
.container{
 margin-left: 25px;
}

.button {
    background-color:#0a1d53;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*.s_left{
        border: 1px solid black;
}*/

