body{
	margin:0px;
	border:0px;
}
.logo{
	height:112px;
	width:172px;
	
}
.h1{
	color:rgb(29,63,127);
	font-size:xx-large;
	font-family:verdana;
}
.header{
		width:100%;
		height: 150px;
		background:  #3366ff;
		color:white;
}

.sidebar{
		width: 300px;
		height: 400px;
		background: green;
		float:left;
		font-size:20px;
}

.data{
		height: 700px;
		background: red;
		color:white;
		font-family: Helvetica;
		font-size: 20px;
}

.adminlogo{
	margin-top: 20px;
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 50%;
}

ul li{
	padding: 20px;
}

ul li:hover{
	background: orange;
	color:white;
}