h1.topic{
	text-align: center;
	color: #096487;
}

p.note{
	text-align: center;
}

h3.personal.educational.selsub{
		color: white;
}

.personal{
	margin-top: 20px;
}

/*h3{
	color: white;
}*/

h3.personal{
	background-color: #006699 !important;
	text-align: center;
}

h3.educational{
	background-color: #006699 !important;
	text-align: center;
}

h3.selsub{
	background-color: #006699 !important;
	text-align: center;
}



p.department{
	 style="padding-left: 32px;"
}

#main_cover1{
		margin-right: 5%;
		margin: 15px;
		margin-left: 4%; 	
		border: 2px solid grey;
		padding: 0px;
	}

/*html,body{
	overflow-x:hidden;
	}*/

/*.button{
	color: #006699;
}
*/
.button {
    background-color: #006699;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
