


    #navbar1 {
 
  background-color: white;
  position: fixed;
  z-index: 999;
  display: block;
}





.list-group-item:last-child {
    margin-bottom: 0;

}

.sidebar-widget-1 .list-group-item {
    padding: 8px;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}

/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}*/

.panel-group {
    margin-bottom: 20px;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #0b1e54;
    border-color: #ddd;
}



.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
}


.panel-heading{
    background-color: #0a1d53;
    height:30px;
}

.content_box1{
    color:white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    padding: 0;
    margin-bottom: 2%;
}

/*.s_center{
    text-align: center;
}*/




/*.s_content h1{
    color: black ;
}
.s_content h3{
    color: #096487 ;
}*/

.nav_bar li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

    text-transform: capitalize;
}

.nav_bar{
    background-color: #0a1d53;
    height: 30px;
}




.nav_bar ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

.nav_bar a{
     text-decoration: none;
     color:white;
     text-transform: capitalize;
     font-size: 17px;
     margin-top: 5px;
}

.s_left{
    display: block;
    padding:0px;
    height: 100%;
}

.s_left ul{
    list-style-type: none;
}

.s_left a{
    text-decoration: none;
    font-size: 17px;
}

/*.s_header{
        width:100%;
        height: 150px;
        background:  white;
        color:black;
        border-bottom: 2px solid ;
        position: fixed;
        z-index: 99;
}*/

.s_left a{
    color: black;

}

 ul li{
    margin-left: 0px;
    /*padding: 20px;*/
}

.nav_bar ul li:hover{
    background-color:#096487;
        height: 30px;
}

.vl {
    border-left: 2px solid red /*#0a1d53*/;
    height: 1000px;
    position: absolute;
    left: 100%;
    margin-left: -6px;
    top: 0;
}

.vl1 {
    border-right: 6px solid #0a1d53;
    height: 1000px;
    position: absolute;
    right: 100%;
    margin-left: 200px;
    top: 0;
}

.s_left{
    text-transform: capitalize;
}

.s_left{
    padding: 0;
}

.white{
    color:white !important;
}

.s_left ul li:hover{
    background-color: #096487;
}
.s_left a{
    color: black;       
}

.registration{
        position: fixed;
    right: -100%;
    background: white;
    z-index: 9;
    top: 23%;
    padding: 15px;
        margin-top: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.showForm{
    right: 0px;
    transition: all 1s ease;

}
.sticky{
    position: fixed;
    z-index: 9;
    background: white;
    border-bottom: 1px solid;
    width: 100%;

}

body{
   
    color:#0a1d53;
}

.form-signin{
    text-align: left;
}
input[type=text], input[type=date], input[type=email], input[type=number], select {
width: 300px;
height: 30px;
}

input[type=password]{
    
    width: 200px;
    height: 44px; 
}
.container{
 margin-left: 25px;
}

.button {
    background-color:#0a1d53;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*.s_main{
    padding: 0px;
}*/


.s_main > .col-md-3 ,.col-xs-12{
    padding-right:0px;
    padding-left:0px;
}

.container_fluid{
    padding-right:0px;
    padding-left:0px;
}

.content2 h5 {
    text-align: center;
    background-color: #0b1e54 !important
    padding: 13px;
    font-weight: bold;
    font-family: verdana;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    margin-top: 1px;
}


@media screen and (max-width: 600px) {
  .nav_bar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}



@media (max-width: 500px){
    .s_logo{
    width: 55%;
    height: 99px;
    float: left;
    padding: 12px 25px 0px 15px;
    margin: auto;
    margin-left: 15%;

    }
}




@media (max-width: 1400px){
.s_header .s_content {
    width: 67%;
    float: left;
    padding: 25px 0px 0px 0px;
    margin-top:-23px;
    
}
}

@media (max-width: 500px){
.s_header .s_content {
    font-size: 16px;
    text-align: center;
    width: 91%;
    float: left;
    padding: 29px 0px 0px 0px;
    margin-left: 9%;
    
}
}

.s_logo{
    margin-top:10px;
}

img{
    margin-bottom: 10px;
}

.s_header .s_content .logo_text {
    font-size: 36px;
    font-weight: bold;
    /*padding-bottom: 8px;*/
}

.s_header .s_content .header_text {
    font-size: 22px;
    font-weight: bold;
   
    color: black;
}



.footer {
    padding: 10px 0;
    position: relative;
    clear: both;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #484747;
}